[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
install = "*"
django-crispy-forms = "*"
django-allauth = "*"
environs = {version = "==9.5.0", extras = ["django"]}

[dev-packages]

[requires]
python_version = "3.11"
